body{
  background-color: #edae49;
}
footer{
  position: sticky;
  width: 100%;
  bottom: 0;
}
h1{
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #f7be63;
  text-shadow: 3px 3px #6e4e1a;
  
}
.sousTitre{
  font-size: 24px;
  font-weight: bold;
  padding-right: 5px;
}
.box{
  border-radius: 25px;
  padding: 14px;
  background-color: #f7be63;
  box-shadow: 8px 10px #c78f36;
  margin-top: 25px;
  height: 450px;
  margin-bottom: 50px;
}
.box p {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
}
.jumbotron {
background-image: url("../images/arkanoid-feature.jpg");
margin-top: 20px;
border-radius: 25px;
background-size: contain;
color:blanchedalmond;
text-align: center;
box-shadow: 8px 10px #c78f36;
}